<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://github.com/GastonMazzei">
      Mazzei's personal site &#128126
    </a>
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu">
    <div class="navbar-start">

  {% for item in site.data.navigation.nav %}
    {% if item.subnav And item.subnav != "" And item.subnav != nil %}
    <div class="navbar-item has-dropdown is-hoverable">
      <a class="navbar-link" href="{{ item.url }}">
        {{ item.title }}
      </a>
      <div class="navbar-dropdown">
      {% for subItem in item.subnav %}
        <a class="navbar-item" href="{{ subItem.url }}">
          {{ subItem.title }}
        </a>
      {% endfor %}
    </div>
    </div>
    {% else %}
      <a class="navbar-item" href="{{ item.url }}">
        {{ item.title }}
      </a>
    {% endif %}
  {% endfor %}
</div>
</div>
</nav>
